# ==========================================
# Frontend (Vue.js / Vite / Node)
# ==========================================
# Dependências
node_modules/
.pnp
.pnp.js

# Pastas de Build do Frontend
dist/
dist-ssr/
.nuxt/
.output/

# Logs do Node
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ==========================================
# Backend (Java / Spring Boot / Maven)
# ==========================================
# Pastas de Build do Backend
target/
bin/
build/
out/
.gradle/

# Artefatos compilados
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Logs do Java
hprof-dumps/

# ==========================================
# IDEs e Editores
# ==========================================
# VS Code
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse / NetBeans
.metadata/
.classpath
.project
.settings/
*.launch
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# ==========================================
# Arquivos de Sistema Operacional
# ==========================================
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Ehthumbs.db
Desktop.ini

# ==========================================
# Configurações Locais e Dados Sensíveis
# ==========================================
# Variáveis de ambiente
.env
.env.*
*.local

# Properties locais do Spring Boot
/src/main/resources/application-local.properties
/src/main/resources/application-local.yml